<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body class="bg-light">
<div th:replace="fragments::main-nav"></div>

<div class="container">
  <div class="py-5 text-center" th:if="${error}">
    <p class="lead">스터디올래 이메일 확인</p>
    <div class="alert alert-danger" role="alert" th:text="${error}">
      이메일 확인 링크가 정확하지 않습니다.
    </div>
    <p class="lead" th:text="${email}">login user email</p>
  </div>

  <div class="py-5 text-center" th:if="${error == null}">
    <p class="lead">스터디올래 이메일 확인</p>
    <h2>
      스터디올레 서비스를 사용하려면 인증 이메일을 확인하세요.
    </h2>

    <div>
      <p class="lead" th:text="${email}">login user email</p>
      <a th:href="@{/send-check-email}" class="btn btn-outline-info">인증 이메일 다시 보내기</a>
    </div>
  </div>
</div>

<div class="fragments.html :: footer"></div>
</body>
</html>